/* .background-computer{
    background-image: url(https://cdn-icons.flaticon.com/png/512/3166/premium/3166134.png?token=exp=1635598008~hmac=b8e37e0921ead128e33e8a2f987e0ccd);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
} */


@media only screen and (min-width:1201px) and (max-width:600px) {
    .box{
        width: 70% !important;
    }
}
@media only screen and (min-width:1001px) and (max-width:1200px) {
    .box{
        width: 70% !important;
    }
}
@media only screen and (min-width:700px) and (max-width:1000px) {
    .box{
        width: 70% !important;
    }
}
@media only screen and (min-width:500px) and (max-width:699px) {
    .box{
        width: 85% !important;
    }
}
@media only screen and (min-width:250px) and (max-width:499px) {
    .box{
        width: 97% !important;
    }
}
